@import "tailwindcss";

@theme{
    /* Colores que establecí importantes en la guía de estilos */
  --color-primario: #386641;
  --color-primario-hover: #4a8756; /* Un tono un pelín más claro por si se necesitase para un hover */

  --color-secundario: #6c584c; /* Pensado para usarse en el footer */
  --color-terciario: #dde5b6; /*Botones secundarios, links, iconos interactivos...*/

  --color-neutro: #EDEDED; /*Pensado para el fondo general de la página entera. */
}

/* Estilos para los distintos botones de mi web: */
@layer components {
  /* La base que comparten todos los botones */
  .btn-base {
    @apply font-bold py-2 px-6 rounded-md transition duration-300 ease-in-out shadow-sm flex items-center justify-center gap-2;
  }

  /* Las distintas variantes */
  .btn-primario {
    @apply bg-primario text-white shadow-md hover:bg-primario-hover;
  }
  
  .btn-secundario {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
  }
  
  .btn-contorno {
    @apply border-2 border-primario text-primario hover:bg-primario hover:text-white;
  }
}

/* Animación para el componente cargando (spinner) de prime react. */
/* He hecho que vaya cambiando en transiciones de los colores corporativos que guardo en variables arriba. */
@keyframes colores-corporativos {
  0%, 100% {
    stroke: var(--color-primario);
  }
  33% {
    stroke: var(--color-secundario);
  }
  66% {
    stroke: var(--color-terciario);
  }
}

/* Le decimos a la clase personalizada que use nuestra animación de colores junto a la de giro por defecto de PrimeReact */
.spinner-tetra .p-progress-spinner-circle {
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite, colores-corporativos 2.5s ease-in-out infinite !important;
}

body{
  background-color: var(--color-neutro);
}

/*Estilos para que se muestren los círculos indicadores del componente "Carrousel" de primeReact, 
 ya que al instalar tailwind este hace un reseteo de todo el CSS por defecto, incluyendo la biblioteca de primeReact. */
.p-carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}

/* Círculos inactivos */
.p-carousel-indicator button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #d1d5db !important; /* Un gris neutro */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Círculo activo (el de la imagen actual) */
.p-carousel-indicator.p-highlight button {
  background-color: var(--color-primario) !important; /* Color primario de la empresa*/
  transform: scale(1.3); 
}

.p-carousel-content{
  height: 500px;
}
